.board{
    &__card{
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 1px 1px 2px $colorGrayLight, -1px -1px 2px $colorGrayLight;
    }
    &__card-title{
        font-family: 'SF Pro Displkay Medium';
        color: $colorGrayDark;
    }
    &__card-copy{
        width: 100%;
        margin: 10px 0;
        color: $colorGray;
        line-height: 1.3em;
    }
    &__card-footer{
        @include flexible(space-between, flex-start, row, nowrap);
        height: 20px;
    } 
    &__card-date{
        @include label(0.8rem, $colorYellow, 5px);
        width: 70%;
    }
    &__card-remove-btn,
    &__card-move-btn{
        width: 20px;
        height: 20px;
        background: transparent;
        border-radius: 50%;
        border: 1px solid #d8d5d5;
        transition: all .1s ease-in-out;

        &:hover,
        &:focus{
            outline: none;
            border-color: $colorGray;
            cursor: pointer;
        }
        &:hover svg,
        &:focus svg{
            fill: $colorGray;
            cursor: pointer;
        }
    }
    &__card-remove-btn svg,
    &__card-move-btn svg{
        width: 10px;
        height: 10px;
        margin-top: 2px;
        fill: #d8d5d5;
        transition: all .1s ease-in-out;
    }
}