.footer{
    @include flexible(center, center, column, nowrap);
    margin-top: .3rem;
    font-size: .7rem;
    &__copyright{
      color: $colorGray;
    }
    &__github-link{
      color: $colorGrayDark;
    }
}