.modal{
    visibility: hidden;
    opacity: 0;
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    padding-top: 30vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: all 0.2s ease-in-out;
    &.active{
        visibility: visible;
        opacity: 1;
    }
    &__content{
        @include flexible(center, flex-start, column, nowrap);
        position: relative;
        max-width: 500px;
        background-color: #FFFFFF;
        margin: auto;
        padding: 1rem;
        border: 1px solid $colorGray;
        border-radius: 10px;
        width: 90%;
    }
    &__header{
        @include flexible(space-between, flex-start, row, nowrap);
        width: 100%;
        font-size: .7rem;
        &-tip{
            align-self: center;
        }
        &-tip-title{
            font-family: 'SF Pro Displkay Medium', sans-serif;
        }
        &-close-btn{
            display: block;
            margin-right: 7px;
            color: $colorGray;
            font-size: 2rem;
            font-weight: bold;
            transition: all .2s ease-in-out;
            &:hover,
            &:focus{
                color: #000000;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    &__single-input-container{
        position: relative;
        width: 100%;
    }
    &__title{
        width: 100%;
        padding-left: 5px;
        margin: 10px 0;
        font-size: 1.2rem;
        font-family: 'SF Pro Displkay Medium', sans-serif;
        color: $colorGrayDark;
        &#title{
            padding: 7px;
        }
        &--input{
            padding: 0;
            border: none;
            outline: none;
            &::placeholder{
                color: $colorGray;
            }
        }
    }
    &__save-title-btn,
    &__discard-title-btn{
        display: none;
        position: absolute;
        top: 98px;
        height: 30px;
        width: 30px;
        border: 1px solid #c5c5c5;
        border-radius: 3px;
        background-color: #ffffff;
        transition: all .2s ease-in-out;
        &:hover,
        &:focus{
            outline: none;
            background-color: #e1e1e1;
        }
        & svg{
            height: 60%;
            width: 60%;
        }
        &.active{
            display: block;
        }
    }
    &__save-title-btn{
        right: 50px;
        & svg{
            margin-top: 5px;
        }
    }
    &__discard-title-btn{
        padding-top: 3px;
        right: 16px;
    }
    &__save-title-btn:hover,
    &__discard-title-btn:hover{
        cursor: pointer;
    }
    &__description{
        height: 60px;
        width: 100%;
        padding: 5px;
        margin: 10px 0;
        font-size: 1rem;
        font-family: 'SF Pro Displkay Regular', sans-serif;
        color: $colorGrayDark;
        &#description{
            margin-top: 0;
        }
        &--input {
            border: 1px solid $colorGray;
            border-radius: 5px;
            outline: none;
            resize: vertical;
            &::placeholder {
                color: $colorGray;
            }
        }
        &-edit-btn-container{
            @include flexible(flex-start, flex-start, row, nowrap);
            margin-top: 5px;
        }
        &-save-btn{
            @include btn(100px, 5px, $colorGreen, #b4dfd0);
            margin-right: 5px;
        }
        &-discard-btn{
            @include btn(100px, 5px, #e1e1e1, $colorGrayLight);
        }
        &-save-btn,
        &-discard-btn{
            display: none;
        }
        &-save-btn.active,
        &-discard-btn.active{
            display: block;
        }
    }
    &__save-btn{
       @include btn(30%, 5px, $colorGreen, #b4dfd0);
       margin-top: 10px;
    }
    &__element-hover{
        border-radius: 5px;
        transition: all .2s ease-in-out;
        &:hover{
            background-color: #e1e1e1;
            cursor: text;
        }
    }
}
#edit-card-modal{
    & .modal__header-tip{
        margin-left: 7px;
    }
    & .modal__title,
    & .modal__description{
        display: none;
        &.active{
            display: block;
        }
        &--input{
            display: none;
            &.active{
                display: block;
                padding: 5px;
                border: 2px solid #8bb2ea;
            }
        }
    }
}
.error-message {
    display: none;
    position: absolute;
    height: 1em;
    width: max-content;
    font-size: 0.7rem;
    color: #eb7b7b;
    &--title{
        top: 85px;
    }
    &--title-edit{
        top: 99px;
    }
    &--description{
        top: 300px;
    }
    &--description-edit{
        top: 300px;
    }
    &.active{
        display: block;
    }
}
