@font-face {
    font-family: 'SF Compact Text Bold';
    src: url('../../../fonts/SF-Compact-Text-Bold.otf');
}

@font-face {
    font-family: 'SF Pro Displkay Regular';
    src: url('../../../fonts/SF-Pro-Display-Regular.otf');
}

@font-face {
    font-family: 'SF Pro Displkay Medium';
    src: url('../../../fonts/SF-Pro-Display-Medium.otf')
}

@font-face {
    font-family: 'SF Pro Displkay Semibold';
    src: url('../../../fonts/SF-Pro-Display-Semibold.otf')
}
