// Flexbox

@mixin flexible($axis-x, $axis-y, $direction, $wrap) {
    display: flex;
    justify-content: $axis-x;
    align-items: $axis-y;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

// Labels

@mixin label($font-size, $color, $padding) {
    font-family: 'SF Pro Displkay Medium', sans-serif;
    font-size: $font-size;
    background-color: $color;
    border-radius: 10px;
    padding: $padding;
    width: max-content;
}

// Buttons

@mixin btn ($width, $padding, $color, $hover-color) {
    width: $width;
    padding: $padding;
    font-family: 'SF Pro Displkay Medium', sans-serif;
    font-size: 1rem;
    background-color: $color;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
        outline: none;
        background-color: $hover-color;
    }
}

//Adaptiveness

// small devices
@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
}
 
 // medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
}
 
 // large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
}
 
 // extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
}

 // custom devices
@mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
}