// Colors

$colorGray:       #686877;
$colorGrayDark:   #212121;
$colorGrayLight:  #d1d4d6;

$colorLavender:   #e7d5f3;
$colorRose:       #FFDCE0;
$colorGreen:      #cbdfd8;
$colorYellow:     #e8f389;

// Breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

